.predict-container {
    width: 70%;
    margin: 40px auto;
    background-color: #eae4dd;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.predict-container h2 {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.form-grid input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.predict-container {
    width: 70%;
    margin: 40px auto;
    background-color: #eae4dd;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.predict-container h2 {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.form-grid input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 5px;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: green;
}
body {
    margin: 0;
    font-family: Arial;
    background-color: #f2ede7;
}

/* Top navigation bar */
.navbar {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: lime;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

/* Banner Section */

.banner {
    position: relative;
    width: 100%;
}

.banner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Introduction box over image */

.intro-box {
    position: absolute;
    bottom: 40px;
    left: 50px;
    right: 50px;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.intro-box h2 {
    color: lime;
}
.navbar {
    background-color: black;
    color: lime;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 26px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.output-box {
    width: 80%;
    margin: 50px auto;
    padding: 80px;
    background-color: #e6e2db;
    text-align: center;
    border-radius: 10px;
}

.output-box h3 {
    color: black;
    font-weight: normal;
}

.container {
    background-color: #eae3db;
    padding: 30px;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.row input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn-row {
    text-align: center;
    margin-top: 15px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
